*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 200px;
    height: 2rem;
}
#btnadd{
    height: 2rem;
    padding: 5px;
}
#container{
    width: 100%;
}
#child-container{
    border: 1px solid blue;
    height: 200px;
    width: 95%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
body{
    margin: 0px 10px;
}
progress{
    height: 3rem;
}
#parentbox{
    width: 400px;
    height: 3rem;
    border: 1px solid grey;
}
#btn{
    height: 2rem;
    margin-left: 1000px;
}
.header{
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 10px;
}
